<template id="grid-swap__template">
  <style>
    .grid-swap__container {
      display: inline-block;
      height:fit-content;
    }

    button {
      background: none;
      box-shadow: none;
      border: none;
      margin: 0;
      padding: 0;
      border: 1px solid rgba(var(--color-foreground), 0.25);
      border-radius: 5px;
      padding: 5px;
    }

    button:hover {
      background: rgba(var(--color-foreground), 0.25);
    }

    button.active {
      pointer-events: none;
      background: rgba(var(--color-foreground), 0.5);
    }

    button svg {
      height: 25px;
      fill: #355179;
    }
  </style>
  <div class="grid-swap__container">
    <button id="grid-swap__toggle-small" class="active">
      <svg viewBox="0 0 64 64" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2">
        <path style="fill:none" d="M0 0h64v64H0z"/>
        <path d="M-237.9 417.6h-16.5c-.9 0-1.6-.7-1.6-1.6v-16.5c0-.9.7-1.6 1.6-1.6h16.4c.9 0 1.6.7 1.6 1.6v16.4c.1 1-.6 1.7-1.5 1.7Z" style="fill-rule:nonzero" transform="translate(375.208 -536.422) scale(1.39405)"/>
      </svg>


    </button>
    <button id="grid-swap__toggle-big">
      <svg viewBox="0 0 64 64" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2">
        <path style="fill:none" d="M0 0h64v64H0z"/>
        <clipPath id="a">
          <path d="M0 0h64v64H0z"/>
        </clipPath>
        <g clip-path="url(#a)">
          <path d="M-237.9 417.6h-16.5c-.9 0-1.6-.7-1.6-1.6v-16.5c0-.9.7-1.6 1.6-1.6h16.4c.9 0 1.6.7 1.6 1.6v16.4c.1 1-.6 1.7-1.5 1.7ZM-211.6 417.6h-16.5c-.9 0-1.6-.7-1.6-1.6v-16.5c0-.9.7-1.6 1.6-1.6h16.4c.9 0 1.6.7 1.6 1.6v16.4c.1 1-.6 1.7-1.5 1.7Z" style="fill-rule:nonzero" transform="translate(356.876 -536.422) scale(1.39405)"/>
        </g>
      </svg>


    </button>
</div>
</template>
<grid-swapper></grid-swapper>
