
<div class="stock-status">
{%- if product.selected_or_first_available_variant.inventory_quantity >= 1 and product.metafields.inventory.announcementMessage -%}
    <i class="stock-status__indicator stock-status__indicator--yellow"></i>
    <span>{{product.metafields.inventory.announcementMessage}}</span>
{%- elsif product.selected_or_first_available_variant.inventory_quantity <= 0 and product.selected_or_first_available_variant.available and product.metafields.inventory.preorderMessage -%}
    <i class="stock-status__indicator stock-status__indicator--yellow"></i>
    <span>{{ product.metafields.inventory.preorderMessage }}</span>
{%- elsif product.selected_or_first_available_variant.inventory_quantity <= 0 and product.selected_or_first_available_variant.available -%}
<i class="stock-status__indicator stock-status__indicator--yellow"></i>    
<span>Produktet kan forh책ndsbestilles</span>
{%- elsif product.selected_or_first_available_variant.inventory_quantity >= 1 and product.tags contains '_sellahead' -%}
<i class="stock-status__indicator stock-status__indicator--green"></i>    
<span>P책 vei til lager. 0-3 dager lengre tid kan forventes</span>
{% elsif product.selected_or_first_available_variant.inventory_quantity >= 1 -%}
<i class="stock-status__indicator stock-status__indicator--green"></i>
    <span>P책 lager</span>
{% elsif product.selected_or_first_available_variant.available == false and product.metafields.inventory.soldoutMessage  -%}
<i class="stock-status__indicator stock-status__indicator--red"></i>
    <span>{{product.metafields.inventory.soldoutMessage}}</span>
{% elsif product.selected_or_first_available_variant.available == false  -%}
<i class="stock-status__indicator stock-status__indicator--red"></i>

    <span>Utsolgt</span>
{%- else -%}
    <i class="stock-status__indicator stock-status__indicator--green"></i>
    <span>P책 lager</span>
{%- endif -%}
</div>
