.product-grid .grid__item {
  padding-bottom: 2rem;
}

.product-grid.negative-margin {
  margin-bottom: -2rem;
}

@media screen and (min-width: 750px) {
  .product-grid .grid__item {
    padding-bottom: 5rem;
  }

  .product-grid.negative-margin {
    margin-bottom: -5rem;
  }

  .product-grid.negative-margin--small {
    margin-bottom: -1rem;
  }



}
.product-form__buttons:hover, .button:not([disabled]):hover{
    -webkit-transition-duration:0.2s;
    transition-duration:0.2s;
   }
   .product-form__buttons .button {
    font-size: 1.6rem;
    letter-spacing: .08rem;
    min-height: 4.5rem;
   }
   .product-form .button--secondary{
    color: #655B58;
    background: whitesmoke;
    box-shadow: none;
    border: 1px solid #ede5dc;
    text-transform: uppercase;
   }

.card-wrapper .product-form__buttons > * {
  margin-bottom: 1rem;
  font-size: 1.6rem;
    letter-spacing: .08rem;
    min-height: 4.5rem;
}
.product-form__submit.button.button--full-width.button--primary {
  font-weight: 600;
}

.card-wrapper .product-form__buttons {
  padding-top: 3rem;
}

.collection .product-form, .template-search .product-form {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.collection .card-wrapper, .template-search .card-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0 10px;
}

.product-recommendations .product-form {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.product-recommendations .card-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin: 0 10px;
}



